$primaryColor: rgb(235,234,234); 
$secondaryColor: rgba(152,236,209, 0.10);
$contrastColor: rgba(5, 32, 24, 0.582); 
$deepBlack:rgb(52,54,53); 
$offsetColor: rgba(246,247,247, 0.9);
$offsetFontColor: rgb(247,252,252); 
$emphasizeFont: rgba(5, 32, 24, 0.6);
$contentSpacing: 35px;
$fontStandard: 17px; 
$webkitResponse: all 0.3s ease-in-out;

/*
Style for layout and responsiveness 
*/

body { 
    min-height: 100vh; 
}   

.side-bar {
    background: url(http://bit.ly/2H3FsVy);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 12px solid $contrastColor;  
    min-height: 100vh; 
    padding: 0 0 0 0; 
    overflow: hidden;
    .backgroundImg {
        background-color: $secondaryColor;  
        height: 100%;
        min-height: 100vh;
    }
}

.view {
    background-color:$primaryColor; 
    height: auto;
    padding-top: $contentSpacing; 
    padding-bottom: $contentSpacing;
}

/*
Style for Content
*/ 

table tr th.align {
    padding-left: $contentSpacing/2; 
    width: 10vw; 
}

h2.title {
    font-size: $fontStandard*2.2; 
    padding-bottom: $contentSpacing; 
    padding-top: $contentSpacing; 
    -webkit-transition: $webkitResponse; 
    transition: $webkitResponse; 
}

p.quote{ 
    border-bottom: 1px solid $deepBlack; 
    color: $emphasizeFont; 
    font-size: $fontStandard; 
    padding-bottom: $contentSpacing*1.2;
    padding-left: $contentSpacing/5; 
    text-align: left;
    -webkit-transition: $webkitResponse; 
    transition: $webkitResponse; 
}

p.author {
    font-size: $fontStandard*1.1;
    padding-bottom: $contentSpacing;
    text-align: center; 
    font-style: italic;    
}

button {
    -webkit-transform: scale(1,1), translateY(0px); 
    transform: scale(1,1), translateY(0px);
    -webkit-transition: $webkitResponse; 
    transition: $webkitResponse; 
    &:hover {
        -webkit-transform: scale(1.1,1.1); 
        transform: scale(1.1,1.1);
        -webkit-transition: $webkitResponse; 
        transition: $webkitResponse; 
    }
    &:active {
        -webkit-transform: translateY(5px); 
        transform: translateY(5px);
        -webkit-transition: $webkitResponse; 
        transition: $webkitResponse; 
    }
}

table#links {   
    float: right;
    margin-top: -$contentSpacing;
    margin-bottom: $contentSpacing; 
    -webkit-transition: $webkitResponse; 
    transition: $webkitResponse; 
    tr.links {
        th.links {
            cursor: pointer;
            padding-left: $contentSpacing/4; 
            padding-right: $contentSpacing/4;
        }
    }
}

p.credit {
    color: $deepBlack;
    font-size: $fontStandard/1.5; 
    font-family: 'Proza Libre', sans-serif;
    font-weight: 100; 
    padding-top: $contentSpacing/2;
} 

/*
Media Queries
*/

@media screen and (min-width: 480px) {
    h2.title {
        font-size: $fontStandard*3.2; 
    }

    p.quote {
        font-size: $fontStandard*1.2; 
    }
}

@media screen and (min-width: 720px) {
    h2.title {
        font-size: $fontStandard*3.2; 
    }

    p.quote {
        font-size: $fontStandard*1.6; 
    }
}

@media screen and (min-width: 1080px) { 
    h2.title {
        font-size: $fontStandard*4; 
    }

    p.quote {
        font-size: $fontStandard*2; 
    }
}