//Global Variables
$mainbg: rgba(139,60,60, 0.6);
$hoverbg: rgba(197,157,157, 0.6);
$mainfont: 62.5%;
$bodyfont: 1.4rem;
$h1font: 2.4rem;
$h2font: 2rem;
$standTransition: all 0.3s ease-in-out;
$mainfontclr: rgba(249,245,245, 0.9);
$hoverfontclr: rgba(49,49,49, 0.9);

// HTML and Body styles
html {
    font-size: $mainfont;    
}

body {       
    background-image: url(https://goo.gl/5suJb3);
    background-position: top center;
    font-size: $bodyfont;        
}

html, body {
    overflow-x: hidden;
}

.container-fluid{
    padding: 1rem;
}

// Header
.header {
    background-color: $mainbg;
    border-right: 8px solid #fff;
    border-radius: 4px;
    height: 10rem;
    -webkit-transition: $standTransition;
    transition:$standTransition;
    &:hover {
        background-color: $hoverbg;
        border-right: 8px solid $mainbg;
        border-radius:4px;
    }
    &:hover h1 {
        color: $hoverfontclr;
    }
    &:hover .square .square-offset {
        border: 1px solid white; 
        animation-name: rotate;
        animation-duration: 2s;  
        animation-timing-function: linear;      
        -webkit-animation-timing-function: linear;
    }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

h1 {
    color: $mainfontclr;
    font-family: 'Raleway', serif;
    font-size: $h1font;    
    -webkit-transition: $standTransition;
    transition: $standTransition;
    vertical-align: middle;
}

.square {
    background: rgba(49,49,49, 0.4);
    border-radius: 2px;
    height: 40px;
    width: 40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);    
}

.square-offset{
    background: rgba(120,179,210, 0.4);
    border-radius: 2px;
    height: 20px;    
    width: 20px;	
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

//Quote Card 
.main {
    border-radius: 3px;
    height: 34rem;
    margin: 0.5rem 0 0 0;
}

.card {
    background: rgba(236,236,236, 0.8);
    border-right: 15px solid white;
    border-radius: 4px;
    height: 30rem;
    margin: 2rem 0 0 0;
    
}

h2{
    color: $hoverfontclr;
    font-size: $h2font;
    font-family: 'Raleway', serif;    
    padding: 2rem 0 0 1rem; 
}   

//Button section
.select {
    margin: 0 0 3rem 0;
    overflow: hidden;
}

button {
    background: rgba(236,236,236, 0.5);
    border: 2px solid rgba(42,42,42, 0.1);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    height: 6rem;
    width: 10rem;
    -webkit-transition: $standTransition;
    transition: $standTransition;
    &:hover {
        border: 2px solid rgba(42,42,42, 0.9);
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem);
    }    
}

button#quote {
    background: $mainbg;
}

button#twttr {
    background: rgba(120,179,210, 0.6);
}

//Footer 
footer {
    background: rgba(42,42,42, 0.9);
    height: 6rem;
    margin: 0 auto;
    padding: 0;
    
}

p.credit {
    //border: 2px solid white;
    border-radius: 2px;
    color: white;
    margin: .1rem 2rem 0 0;
    padding: .5rem;
    //text-align: center;
}

table.media {
    margin: 3rem auto;
    width: 30rem;
    & tr.shift {
        height: 6rem;
    }   
}

