html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container-fluid {
  margin-left: -15px;
}

.main {
  background-color: #115f91;
  height: 100vh;
  width: 100vw;  
}

h1.title {
  font-family: 'Raleway', cursive;
  font-size: 32px;
  text-align: center;
  margin-left: 15px;
  margin-top: 8%;
  margin-bottom: -6%;
  
}

.quotecard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: #dddddd;
  box-shadow: 2px 4px 5px #161223;
  z-index: 1;
  border-radius: 5px; 
  height: 350px;
  width: 650px;
} 


/*Footer Section*/
.footer {
  background-color: #fd8f2a;  
  z-index: 1; 
  height: 65px;
  width: 100vw;
}

table.dis-credit {
  display: block;
  padding-left: 1%;
  margin-top: -3.3%;
  margin-left: 27%;
}

td.link {
  width: 14%; 
  opacity: 1;
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}  

td.link:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
} 

p.credit {
  color: white;
  text-align: left;
  margin-left: 5%;
  margin-top: 1.7%;
  font-family: 'Raleway', sans-serif;
}

img.license {
  float: right;
  margin-top: -2.7%;
  margin-right: 5%;
}