$primaryColor: rgb(235,234,234); 
$secondaryColor: rgba(152,236,209, 0.25);
$contrastColor: rgba(5, 32, 24, 0.582); 
$offsetColor: rgba(246,247,247, 0.2);
$offsetFontColor: rgb(247,252,252); 
$emphasizeFont: rgba(5, 32, 24, 0.6);
$contentSpacing: 35px;
$fontStandard: 17px; 
$webkitResponse: all 0.3s ease-in-out;

/*
Style for layout and responsiveness 
*/
body { 
    min-height: 100vh; 
        
} 

.side-bar {
    background: url('/Images/leafbg.png');
    background-position: top;
    border-right: 12px solid $contrastColor;  
    border-radius: 3px;
    min-height: 100vh; 
    padding: 0 0 0 0; 
    overflow: hidden;
    .backgroundImg {
        background-color: $secondaryColor;  
        height: 100%;
        min-height: 100vh;
    }
}

.view {
    background-color:$primaryColor; 
    height: auto;
    padding-top: $contentSpacing; 
    padding-bottom: $contentSpacing;
}

/*
Style for Content
*/ 
table tr th.align {
    padding-left: $contentSpacing/2; 
    width: 10vw; 
}

h2.title {
    font-size: $fontStandard*2.2; 
    padding-bottom: $contentSpacing; 
    padding-top: $contentSpacing; 
}

p.quote{ 
    border-bottom: 1px solid black; 
    color: $emphasizeFont; 
    font-size: $fontStandard; 
    padding-bottom: $contentSpacing*1.2;
    padding-left: $contentSpacing/5; 
    text-align: left;
}

p.author {
    font-size: $fontStandard;
    text-align: right; 
    padding-bottom: $contentSpacing; 
}

button {
    -webkit-transform: scale(1,1); 
    transform: scale(1,1);
    -webkit-transition: $webkitResponse; 
    transition: $webkitResponse; 
    &:hover {
        -webkit-transform: scale(1.1,1.1); 
        transform: scale(1.1,1.1);
    }
}

.footer {
    background: $contrastColor;
    border-right: 41px solid black;
    border-right-style: ridge;
    font-size: $fontStandard*0.85;
    margin: 0 -15px 0 -15px; 
    min-height: 15%;  
    padding-top: $contentSpacing/3;
    padding-bottom: $contentSpacing/3; 
    text-align: center; 
    p.credit {
        color: $offsetFontColor;
        font-family: 'Oleo Script', cursive;
        padding-top: $contentSpacing/3; 
    } 
}

.links { 
    background-color: $offsetColor;
    table#links { 
        margin-top: $contentSpacing/3;
        margin-left: $contentSpacing*0;
        tr.links {
            th.links {
                cursor: pointer;
                padding-left: $contentSpacing/4; 
                padding-right: $contentSpacing/4
            }
        }
    }
}

/*
Media Queries
*/

@media screen and (min-width: 1080px) { 
    h2.title {
        font-size: $fontStandard*4; 
    }
}

@media screen and (min-width: 720px) {
    h2.title {
        font-size: $fontStandard*3.2; 
    }
}